<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    body {background-color: white;}
    h1   {color: black;}
    p    {color: green;}
    section{
    border:1px solid pink;
    padding:10px;
    margin:5px;
    }
    img
    {
    width:200px;
    height:200px;
    }
    </style>
    <meta charset="UTF-8">
    <title>Customer Review</title>
</head>
<body>
    <h1>Cutomer Review</h1>
    <p>This page shows percent tage of emotions depicted by customer!</p>
    <section>
        <img src="output1.jpg" alt="Girl in a jacket">
    </section>
    <section>
        <img src="output2.jpg" alt="Girl in a jacket">
    </section>
    <section>
        <img src="output3.jpg" alt="Girl in a jacket">
    </section>
</body>
</html>